<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Deposit Money</title>
</head>

<body>
    <a href="/login">Login with existing account</a><br>
    <a href="/register">Register new account</a><br>
    <a href="/token">Request new token</a><br>
    <a href="/balance">Check your balance</a><br>
    {{if .Error}}
    <p style="color:red;">{{.Error}}</p>
    {{end}}
    <h4>Current balance:</h4>
    <p style="color:blue;">
    {{if .Balance}}
    {{.Balance}}
    {{end}}
    </p>
    <form method="POST" action="/balance">
        <input name="deposit" type="text">
        <button type="submit">Deposit</button>
    </form>
</body>

</html>