<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <div class="nav-left">
            {{if .Username}}
            <a href="/account">Account</a>
            {{else}}
            <a href="/aslogin">AS Login</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {{end}}
        </div>
        {{if .Username}}
        <div class="nav-right">
            👤 {{.Username}}
            <a class="logout-link" href="/logout">Logout</a>
        </div>
        {{end}}
    </nav>
    <div class="page">
        <section class="card small">
            <h2>Login</h2>
            {{if .Error}}
            <p class="error">{{.Error}}</p>
            {{end}}
            <form class="form-vertical" method="POST" action="/login">
                <label>User ID</label>
                <input name="username">

                <label>Password</label>
                <input name="password" type="password">

                <button type="submit">Login</button>
            </form>
        </section>
    </div>
</body>

</html>