<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Token Generation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <div class="nav-left">
            {{if .Username}}
            <a href="/token">Token</a>
            <a href="/balance">Balance</a>
            {{else}}
            <a href="/aslogin">AS Login</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            {{end}}
        </div>
        {{if .Username}}
        <div class="nav-right">
            👤 {{.Username}}
            <a class="logout-link" href="/logout">Logout</a>
        </div>
        {{end}}
    </nav>
    <div class="container">
        <h2>Token Generation</h2>

        {{if .Error}}
        <p class="error">{{.Error}}</p>
        {{end}}

        {{if .Token}}
        <h4>Your token</h4>
        <p class="success">{{.Token}}</p>
        {{end}}
    </div>
</body>

</html>