<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Token Generation</title>
</head>

<body>
    <a href="/aslogin">Login as AS</a><br>
    <a href="/login">Login with existing account</a><br>
    <a href="/register">Register new account</a><br>
    <a href="/token">Request new token</a><br>
    <a href="/balance">Check your balance</a><br>
    {{if .Error}}
    <p style="color:red;">{{.Error}}</p>
    {{end}}
    {{if .Token}}
    <h4>Your token:</h4>
    <p style="color:blue;">{{.Token}}</p>
    {{else}}
    <form method="POST" action="/token">
        <button type="submit">Create new Token</button>
    </form>
    {{end}}

</body>

</html>